<app-carrousel-items [categories]="categories" ></app-carrousel-items>
<div
  infinite-scroll
  [infiniteScrollDistance]="2"
  [infiniteScrollThrottle]="1000"
  (scrolled)="onScroll()"
>
<div class="container mt-5">
    <div class="bg-light rounded-4 p-3">
        <h2 class="fs-1 font-weight-bold text-muted"><b>Lo mas vendido</b></h2>
        <app-card 
        [products]="products"
        ></app-card>
        <app-cards-skeleton *ngIf="loadingService.showSpinner$ | async"></app-cards-skeleton>
        <div class="d-flex justify-content-center pb-1 pt-1">
            <mat-spinner *ngIf="loadingService.showSpinner$ | async" [diameter]="50"></mat-spinner>
        </div>
    </div>
</div>
