<div class="row">
    <div class="col-md-4 my-4">
      <div class="" aria-hidden="true">
        <mat-card class="example-card rounded-4">
          <div class="card-body">
            <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
              <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
              <span class="placeholder col-7"></span>
            </h5>
            <p class="card-title placeholder-glow">
              <span class="placeholder w-100" style="height: 300px;"></span>
            </p>
            <mat-card-actions class="d-flex justify-content-end">
              <button mat-flat-button disabled class="placeholder ml-"></button>
              <button mat-flat-button color="primary" class="placeholder"></button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4 my-4">
      <div class="" aria-hidden="true">
        <mat-card class="example-card rounded-4">
          <div class="card-body">
            <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
              <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
              <span class="placeholder col-7"></span>
            </h5>
            <p class="card-title placeholder-glow">
              <span class="placeholder w-100" style="height: 300px;"></span>
            </p>
            <mat-card-actions class="d-flex justify-content-end">
              <button mat-flat-button disabled class="placeholder ml-"></button>
              <button mat-flat-button color="primary" class="placeholder"></button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4 my-4">
      <div class="" aria-hidden="true">
        <mat-card class="example-card rounded-4">
          <div class="card-body">
            <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
              <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
              <span class="placeholder col-7"></span>
            </h5>
            <p class="card-title placeholder-glow">
              <span class="placeholder w-100" style="height: 300px;"></span>
            </p>
            <mat-card-actions class="d-flex justify-content-end">
              <button mat-flat-button disabled class="placeholder ml-"></button>
              <button mat-flat-button color="primary" class="placeholder"></button>
            </mat-card-actions>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="col-md-4 my-4">
        <div class="" aria-hidden="true">
          <mat-card class="example-card rounded-4">
            <div class="card-body">
              <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
                <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
                <span class="placeholder col-7"></span>
              </h5>
              <p class="card-title placeholder-glow">
                <span class="placeholder w-100" style="height: 300px;"></span>
              </p>
              <mat-card-actions class="d-flex justify-content-end">
                <button mat-flat-button disabled class="placeholder ml-"></button>
                <button mat-flat-button color="primary" class="placeholder"></button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="" aria-hidden="true">
          <mat-card class="example-card rounded-4">
            <div class="card-body">
              <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
                <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
                <span class="placeholder col-7"></span>
              </h5>
              <p class="card-title placeholder-glow">
                <span class="placeholder w-100" style="height: 300px;"></span>
              </p>
              <mat-card-actions class="d-flex justify-content-end">
                <button mat-flat-button disabled class="placeholder ml-"></button>
                <button mat-flat-button color="primary" class="placeholder"></button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
      <div class="col-md-4 my-4">
        <div class="" aria-hidden="true">
          <mat-card class="example-card rounded-4">
            <div class="card-body">
              <h5 class="card-title placeholder-glow d-flex align-items-center m-1">
                <span class="placeholder mr-2 rounded-circle m-1" style="width: 40px; height: 40px;"></span>
                <span class="placeholder col-7"></span>
              </h5>
              <p class="card-title placeholder-glow">
                <span class="placeholder w-100" style="height: 300px;"></span>
              </p>
              <mat-card-actions class="d-flex justify-content-end">
                <button mat-flat-button disabled class="placeholder ml-"></button>
                <button mat-flat-button color="primary" class="placeholder"></button>
              </mat-card-actions>
            </div>
          </mat-card>
        </div>
      </div>
  </div>